{{#each posts as |post|}}
	<div class='card' style='width: 18rem;'>
		<div class='card-header'>
			{{post.header}}
		</div>
		<ul class='list-group list-group-flush'>
			<li class='list-group-item'>{{post.body}}</li>
			<li class='list-group-item'>{{post.date_created}}</li>
		</ul>
	</div>
{{/each}}