<h3>Create a New post:</h3>
<div class='d-flex justify-content-center'>

	<form class='form new-post-form col-6'>
		<div class='form-group'>
			<label for='post-header'>Post Header:</label>
			<input
				class='form-control'
				type='text'
				id='post-header'
				name='post-header'
			/>
		</div>
		<div class='form-group'>
			<label for='post-body'>Post Body:</label>
			<textarea class='form-control' id='post-body' name='post-body'></textarea>
		</div>
		<div class='form-group'>
			<button type='submit' class='btn btn-primary'>Create</button>
		</div>
	</form>
</div>

<script src='./js/post.js'></script>